
.weaponclass-content {
    padding-top: 30px;
}

.weaponclass-progress {
    width: 600px;
}

.weaponclass-progress-badges {
    display: flex;
    margin-top: 4px;
    margin-bottom: 24px;
}

.weaponclass-progress-gold {
    width: 24px;
    height: 24px;
    padding: 2px;
    background-color: rgb(10, 10, 10);
    margin-right: 4px;
}

.weaponclass-progress-gold img {
    width: 100%;
    height: 100%;
}

.weaponclass-progress-gold-disabled {
    filter: grayscale(100%);
}

.weaponclass-weapons-title {
    font-size: 16px;
}

.weaponclass-weapons-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.weapondetail-content {
    padding-top: 30px;
    display: flex;
}

.weapondetail-content--left {
    width: 40%;
}

.weapondetail-header {
    width: 100%;
    height: 80px;
    background-color: rgb(60, 60, 60);
}

.weapondetail-name {
    height: 60%;
    font-size: 32px;
    color: rgb(220, 220, 220);
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.weapondetail-class {
    height: 40%;
    background-color: rgb(54, 54, 54);
    font-size: 16px;
    color: rgb(200, 200, 200);
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.weapondetail-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weapondetail-display-desc {
    width: 100%;
    color: rgb(54, 54, 54);
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.weapondetail-display-img {
    display: flex;
    justify-content: center;
}

.weapondetail-display-img-container {
    width: 90%;
}

.weapondetail-display-img img {
    transition: 
        filter .1s ease-in;
    width: 100%;
    padding-top: 24px;
    filter: drop-shadow(0 0 4px rgb(20, 20, 20));
    cursor: pointer;
}

.weapondetail-display-img img:hover {
    filter: drop-shadow(0 0 10px rgb(255, 202, 91)); 
}

.weapondetail-display-img img:active {
    filter: drop-shadow(0 0 10px rgb(245, 229, 147)); 
}

.weapondetail-selectedchallenge {
    width: 100%;
    height: 124px;
    margin-top: 24px;
    display: flex;
    background-color: rgb(60, 60, 60);
}

.weapondetail-selectedchallenge-camo {
    background-color: rgb(54, 54, 54);
}

.weapondetail-selectedchallenge-camo img {
    padding: 10px;
    width: 100px;
}

.weapondetail-selectedchallenge-details {
    width: 100%;
}

.weapondetail-selectedchallenge-details-title {
    background-color: rgb(54, 54, 54);
    height: 32px;
    font-size: 16px;
    color: rgb(200, 200, 200);
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.weapondetail-selectedchallenge-details-body {
    width: 100%;
    color: rgb(200, 200, 200);
    display: flex;
}

.weapondetail-selectedchallenge-details-progress {
    max-width: 280px;
    padding-left: 10px;
    padding-top: 4px;
}

.weapondetail-selectedchallenge-details-value {
    padding-top: 16px;
    padding-left: 30px;
}

.weapondetail-selectedchallenge-details-value input {
    width: 100px;
    background-color: rgb(25, 25, 25);
    border-color: rgb(54, 54, 54);
    border-style: solid;
    text-align: center;
}

.weapondetail-selectedchallenge-details-value input:focus {
    border-color: rgb(245, 229, 147);
    box-shadow: 0 0 10px rgb(255, 202, 91);
}

.weapondetail-content--right {
    width: 60%;
    margin-left: 20px;
}

.weapondetail-challenges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.challengebox-main {
    background-color: rgb(60, 60, 60);
    width: 140px;
    height: 166px;
    margin-right: 4px;
    margin-bottom: 4px;
}

.challengebox-header {
    width: 100%;
    background-color: rgb(10, 10, 10);
    height: 24px;
    display: flex;
}

.challengebox-header-coloredbox {
    width: 4px;
    height: 100%;
    background-color: rgb(200, 200, 200);
}

.challengebox-header-title {
    display: flex;
    justify-content: center;
    width: 100%;
    color: rgb(200, 200, 200);
    align-items: center;
}

.challengebox-locked-camo, .challengebox-unlocked-camo, .challengebox-hidden-camo  {
    transition: 
        filter .05s ease-in;
    cursor: pointer;
}

.challengebox-locked-camo:hover, .challengebox-unlocked-camo:hover {
    filter: drop-shadow(0 0 4px rgb(255, 202, 91));
}

.challengebox-locked-camo:active, .challengebox-unlocked-camo:active {
    filter: drop-shadow(0 0 4px rgb(255, 252, 6));
}

.challengebox-camo {
    display: flex;
    justify-content: center;
    padding: 2px;
}

.challengebox-locked-camo {
    position: relative;
}

.challengebox-locked-camo .challengebox-locked-camo-overlay {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.75;
}

.challengebox-blurred-camo {
    filter: blur(4px);
}

.challengebox-progress {
    width: 100%;
    background-color: rgb(10, 10, 10);
    height: 24px;
    display: flex;
    padding: 2px;
}

.weaponfacts-content {
    padding-top: 30px;
    width: 100%;
}

.weaponfacts-content-main {
    display: flex;
    width: 100%;
}

.weaponfacts-facts {
    width: 20%;
    min-width: 200px;
    max-width: 300px;
}

.weaponfacts-weapon {
    width: 100%;
    padding-top: 30px;
}

.weaponfacts-weapon img {
    display: block;
    margin: 0 auto;
    max-height: 50%;
    max-width: 80%;
    filter: drop-shadow(0 0 12px rgb(20, 20, 20)); 
    -webkit-box-reflect: below 20px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(40%, transparent) , to(rgba(250, 250, 250, 0.2)));
}

.weaponfacts-header {
    width: 100%;
    height: 80px;
    background-color: rgb(60, 60, 60);
}

.weaponfacts-name {
    height: 60%;
    width: 100%;
    font-size: 32px;
    color: rgb(220, 220, 220);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 20px;
}

.weaponfacts-firemodes {
    display: flex;
}

.weaponfacts-firemode {
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.weaponfacts-firemode span {
    margin-left: 6px;
}

.weaponfacts-firemode img {
    height: 24px;
}

.weaponfacts-header-manufacturer--img img {
    height: 24px;
    padding: 2px;
}

.weaponfacts-header-manufacturer--txt {
    font-size: 16px;
}

.weaponfacts-class {
    height: 40%;
    background-color: rgb(54, 54, 54);
    font-size: 16px;
    color: rgb(200, 200, 200);
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.weaponfacts-facts {
    padding-top: 12px;
}

.weaponfacts-fact {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(20, 20, 20);
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
}

.weaponfacts-fact-name {
    color: rgb(50, 50, 50);
    font-weight: bold;
}

.weaponfacts-fact-value {
    padding-left: 20px;
}

.framework-arrow {
    transition: 
        filter .1s ease-in;
    background-image: url('../resources/img/ui/arrow.png');
    height: 35px;
    width: 17px;
    position: absolute;
    top: 56px;
    left: 16px;
    filter: drop-shadow(0 0 1px rgb(122, 64, 38));
}

.framework-arrow:hover {
    filter: drop-shadow(0 0 6px rgb(195, 103, 61));
}

.framework-arrow:active {
    filter: brightness(2);
}
