@import url("classSelection.css");
@import url("homepage.css");
@import url("nextcompletion.css");
@import url("totalCompletion.css");
@import url("weaponBox.css");
@import url("weapons.css");
@import url("weaponclass.css");
@import url("weapondetail.css");
@import url("challengebox.css");
@import url("weaponfacts.css");

@font-face {
    font-family: "Electrolize";
    src: url(/fonts/cod.woff2) format("truetype");
}

html {
    background-color: rgb(127, 127, 127);
}

body {
    font-family: 'Electrolize';
    height: 100%;
    background: linear-gradient(to bottom, #e3e3e3 0%,#7f7f7f 100%);
    margin: 0;
    padding: 50px;
}