
.weapons-content-main {
    display: flex;
    padding-top: 18px;
}

.weapons-content-overallcompletion {
    padding-top: 12px;
    max-width: 500px;
}

.weapons-content-main--left {
    width: 500px;
    display: flex;
}

.weapons-content-main--right {
    margin-left: 60px;
}

.weapons-class-selection-options {
    width: 0%;
}

.weapons-content-masterchallenges {
    margin-left: 60px;
}
