
.homepage-content {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 95%;
}

.homepage-content-text {
    font-size: 16px;
}

.homepage-content-options {
    padding-top: 30px;
}

.homepage-content-disclaimer {
    font-size: 12px;
}

.homepage-content-disclaimer span a {
    color: rgb(20, 20, 20);
    font-weight: bold;
}

.homepage-overlay-content {
    width: 50%;
    height: 100%;
    min-width: 500px;
    padding-top: 60px;
}

.homepage-overlay-title {
    display: flex;
    justify-content: center;
    color: rgb(200, 200, 200);
    font-size: 32px;
    text-shadow: 
        -2px -2px 1px rgba(0, 200, 0, 0.5),
        2px 2px 1px rgba(200, 0, 0, 0.5),
        3px 3px 4px rgba(0, 0, 200, 0.5);
}

.homepage-overlay-nv4 {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.homepage-overlay-nv4 img {
    width: 60%;
}

.homepage-overlay-text {
    display: flex;
    justify-content: center;
    color: rgb(200, 200, 200);
    text-shadow: 
        -1px -1px 1px rgba(0, 200, 0, 0.5),
        1px 1px 1px rgba(200, 0, 0, 0.5),
        2px 2px 2px rgba(0, 0, 200, 0.5);
    font-size: 18px;
    margin-top: 50px;
    text-align: center;
}

.homepage-overlay-options {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.homepage-overlay-options div {
    margin-right: 10px;
    margin-left: 10px;
}
