
.weapons-content-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.weapons-content-overallcompletion {
    padding-top: 12px;
    max-width: 500px;
}

.weapons-class-selection-main {
    margin-top: 12px;
    margin-right: 40px;
}

.weapons-content-masterchallenges {
    margin-right: 40px;
    margin-top: 12px;
}
